.add-card-square{
    min-height: 50px;
}
.add-radio-square{
    margin: 6px;
}
.add-button-sq{
    float: right;
    margin-left: 6px;
    margin-right: 6px;
}

/*inde page*/

.index-edit-button .mdl-list__item-avatar{
    color: #ff4081;
    background-color: initial;
}